.Tracks__grid{
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 7fr 1fr;
}

.Tracks__grid li, p{
  margin: 6px 0;
  list-style: none;
  font-size: 1.125rem;
}