.Header__discografia, 
.Section__discografia{
  padding: 0 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.Header__discografia{
  margin-bottom: 16px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
}
.Header__discografia h1 {
  color: #333333;
  font-size: 2.5rem;
  font-weight: 400;
}

.Section__discografia button, a{
  padding: 10px 24px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

@media screen and (max-width: 480px) {
  .Header__discografia h1{
    font-weight: 400;
    font-size: 2rem;
  }
}