.Header__discografia, 
.Section__discografia{
  padding: 0 20px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
}

.Header__discografia{
  margin-bottom: 16px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
}

.Header__discografia h1 {
  color: #333333;
  font-size: 2.5rem;
  font-weight: 400;
}

.Header__discografia a{
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s;
}

.Header__discografia a:hover{
  color: rgba(0, 0, 0, .5);
  fill: rgba(0, 0, 0, .5);
}

.Header__discografia svg{
  width: 32px;
  height: 32px;
}

.Section__discografia{
  justify-content: center;
}

.Section__discografia button{
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  transition: all .2s;
}

.Section__discografia button svg{
  width: 25px;
  height: 25px;
}

.Section__discografia .Discografia__deleteAlbum:hover,
.Section__discografia .Discografia__deleteFaixa:hover{
  color: #d63031;
  fill: #d63031;
}

.Section__discografia .Discografia__adicionarFaixa:hover{
  color: #27ae60;
  fill: #27ae60;
}

.Discografia__container{
  height: calc(100vh - 220px); 
  margin: 8px 20px;
  overflow-y: scroll;
}

.Discografia__container::-webkit-scrollbar{
  width: 6px;
}

.Discografia__container::-webkit-scrollbar-thumb{
  background-color: rgba(155, 155, 155, .4);
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .Header__discografia h1{
    font-weight: 400;
    font-size: 2rem;
  }

  .Discografia__container h2{
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .Discografia__deleteAlbum span,
  .Discografia__adicionarFaixa span,
  .Discografia__deleteFaixa span,
  .Header__discografia a span{
    display: none;
  }

  .Section__discografia button svg{
    width: 30px;
    height: 30px;
    padding: 12px;
    background-color: rgba(0, 0, 0, .12);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .4);
    border-radius: 50%;
  }
}