.form__container{
  padding: 8px 20px;
}

.form__container .form__label{
  margin-bottom: 8px;
  display: block;
  color: rgba(0, 0, 0, .6);
  font-size: 1.125rem;
}

.form__container__flex{
  display: flex;
  gap: 16px;
}

.form__container .form__inputSearch{
  flex: 4;
  padding: 16px;
  display: inline-block;
  font-size: 1rem;
  color: rgba(0, 0, 0, .6);
  border-radius: 50px;
  border: 0;
}

.form_button{
  flex: 1 1 auto;
  display: inline-block;
  background-color: #0984e3;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .2px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .form__container__flex{
    flex-direction: column;
  }
  .form_button{
    padding: 16px;
  }
}