.CreateButton__container{
  margin: 16px 20px;
}

.CreateButton__container button{
  padding: 10px 24px;
  background-color: #27ae60;
  color: white;
  font-size: 1rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}