.Modal__container{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.Modal__container__form{
  width: 400px;
  margin: 16px;
  padding: 24px 32px;
  position: relative;
  background-color: white;
  border-radius: 4px;
  animation: showTop 1s forwards;
  transition: all .8s;
}

.Modal__container__form h1{
  margin-bottom: 40px;
}

.Modal__container__buttons{
  display: flex;
  gap: 20px;
}

.Modal__container__form small{
  margin: -10px 0 20px 0;
  display: block;
  color: #d63031;
  letter-spacing: 0.3px;
}

@keyframes showTop {
  from{
    top: -200px;
    opacity: 0;
  }
  to{
    top: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .Modal__container__form{
    padding: 24px;
  }  
  .Modal__container__form h1{
    font-size: 1.75rem;
  }
}