.ModalDelete__container{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.ModalDelete__container__form{
  width: 400px;
  padding: 24px 32px;
  background-color: white;
  border-radius: 4px;
}

.ModalDelete__container__form h2{
  margin-bottom: 60px;
  display: block;
  font-weight: 500;
}

.ModalDelete__container__buttons {
  display: flex;
  gap: 20px;
}

.ModalDelete__container__buttons button{
  margin: 16px 0;
  padding: 10px 24px;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.Button--cancel{
  background-color: #d63031;
}

.Button--confirm{
  background-color: #27ae60;
}