.ModalDelete__container__buttons {
  display: flex;
  gap: 20px;
}

.ModalDelete__container__buttons button{
  margin: 16px 0;
  padding: 10px 24px;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.Button--cancel{
  background-color: #d63031;
}

.Button--confirm{
  background-color: #27ae60;
}