.albuns__container{
  height: calc(100vh - 330px); 
  padding: 8px 20px;
  overflow-y: scroll;
}

.albuns__container::-webkit-scrollbar{
  width: 6px;
}
.albuns__container::-webkit-scrollbar-thumb{
  background-color: rgba(155, 155, 155, .4);
  border-radius: 10px;
}

.albuns__container .albuns__album{
  padding: 0 10px;
  display: block;
  color: black;
  text-decoration: none;
}

.albuns__container .albuns__album:hover{
  background-color: rgba(0, 0, 0, .13);
  cursor: pointer;
}

.albuns__container h2{
  margin: 16px 0;
}

@media screen and (max-width: 480px) {
  .albuns__container{
    height: calc(100vh - 340px); 
  }
  .albuns__container h2{
    font-size: 1.25rem;
  }
}