.Modal__container__buttons {
  display: flex;
  gap: 20px;
}

.Modal__container__buttons button{
  margin: 16px 0;
  display: block;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.Buttons--cancel{
  padding: 10px 24px;
  background-color: #d63031;
}

.Buttons--confirm{
  padding: 10px 40px;
  background-color: #27ae60;
}