.Modal__container{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.Modal__container__form{
  width: 400px;
  padding: 24px 32px;
  background-color: white;
  border-radius: 4px;
}

.Modal__container__buttons {
  display: flex;
  gap: 20px;
}

.Modal__container__buttons button{
  margin: 16px 0;
  display: block;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.Buttons--cancel{
  padding: 10px 24px;
  background-color: #d63031;
}

.Buttons--confirm{
  padding: 10px 40px;
  background-color: #27ae60;
}